version: '3'
services:
  nginx:
    build:
      context: ./frontend
    ports:
      - "8081:80"
    logging:
      driver: none 
    restart: always
  tomcat:
    build:
      context: .
      dockerfile: ./webapp/Dockerfile
    logging:
      driver: none 
    restart: always
