/* Global
----------------------------------*/
html, body {
    height:100%;
    margin:0;
}
body {
    display:flex;
    flex-direction:column;
    background-image: url("../images/assets/tile.png");
    background-repeat: repeat;
    background-color: #fff;
    min-width: 1000px;
}
* {
    font-family: 'Noto Sans', sans-serif !important;
}
a {
    color:#107dac;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
:focus {
    outline-color: transparent;
    outline-style: none;
}
html.waiting,html.waiting * {
    cursor:wait!important;
}
button::-moz-focus-inner {
    border:0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
#background {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* SIB Components
----------------------------------*/
#sib_header_small {
    background-image: url("../images/sib/sib_header_small_bkgd.png");
    height: 50px;
    min-height: 50px;
    position: relative;
    width: 100%;
    color: #282828;
    z-index: 2;
}
#sib_header_small a:hover {
    text-decoration: none !important;
}
#sib_header_small h1 {
    text-decoration: none;
    margin-top: 15px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
#sib_header_small h1 a {
    color: #282828 !important;
    font-family: Helvetica, Verdana, sans-serif !important;
    font-size: 21px !important;
    font-weight: normal !important;
    vertical-align: top;
}
#sib_header_small #sib_expasy_logo > a#sib_link{
    display:block;
    position:absolute;
    width:41px;
    height:32px;
    z-index: 2;
}
#sib_header_small #sib_expasy_logo > a#expasy_link{
    display:block;
    position:absolute;
    left:41px;
    width:190px;
    height:32px;
    z-index: 2;
}
#sib_header_small #sib_expasy_logo{
    top:8px;
    width: 229px;
    height: 32px;
    background: transparent url("../images/sib/sib_ExPASy_logo_small.png") no-repeat top left;
}
#sib_header_small #sib_expasy_logo, #sib_header #sib_expasy_logo {
    position: absolute;
    top: 8px;
    left: 18px;
}
#sib_header_nav {
    top: 10px;
    right: 10px;
    position: absolute;
    white-space: nowrap;
    font: 10px Helvetica, sans-serif !important;
}
#sib_header_nav a {
    color: #555555 !important;
    font-family: Helvetica, Verdana, sans-serif !important;
    font-size: 12px !important;
    margin: 10px;
}
#sib_footer {
    margin-top:auto;
    height: 40px;
    background-color: #1E2425;
    color: #F7F8FA;
    font-size: 10px;
    letter-spacing: 1px;
}
#sib_footer a, #sib_footer span {
    font-family: Verdana !important;
}
#sib_footer a{
    text-decoration: none;
    color: #F7F8FA;
}
#sib_footer a:hover{
    color: #F7F8FA;
    text-decoration: underline;
}
#article {
    margin-left: 50px;
}
#sib_footer_content {
    position: relative;
    padding: 8px 300px 17px 36px;
}
#sib_footer_logos{
    position: absolute;
    right: 160px;
    top: 8px;
}
#sib_footer_logos .logo {
    display:inline-block;
    width:24px;
    height:24px;
    margin-right: 5px;
}
#article {
    position: relative;
    top: -8px;
    right: 10px;
    font-style: italic;
}

#sib_footer_logos #twitter {
    background-image: url("../images/logos/twitter.png");
}
#sib_footer_logos #github {
    background-image: url("../images/logos/github.png");
}
#sib_footer_right{
    position: absolute;
    right: 18px;
    top: 8px;
    text-align: right;
}
#sib_footer_right a{
    padding-left: 10px;
}
#sib_footer_right a:hover img{
    text-decoration: none;
    border: none;
}
#sib_footer_gototop {
    background: transparent url("../images/sib/triangle_hover.png") no-repeat top left;
    padding-left: 10px;
    margin-right: 10px;

}
/* Form
----------------------------------*/
#form {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.05), 0 4px 20px 0 rgba(0,0,0,0.05);
    margin: 25px auto;
    width:770px;
}
#form-header {
    color:#FFF;
    text-align: center;
    background-image: url("../images/assets/header.svg");
    background-color:#5175c4;
    border:1px solid #425e9f;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding:6px;
}
#form-title {
    font-size:24px;
    font-weight:bold;
    margin: 0;
    line-height: 85%;
}
#form-version, #form-subtitle {
    font-size: 18px;
}
#form-body {
    display:flex;
    justify-content: space-between;
    background-color:#f0f0f0;
    border:1px solid #ccc;
}
#form-body-left a, #form-body-left span {
    font-size: 16px;
}
#form-body-left {
    flex-basis: 527px;
    background-color:#fafafa;
    padding: 10px 0 0 20px;
}
.table-inputs {
    display:inline-block;
    vertical-align:top;
    margin-top: 10px;
}
.table-inputs td {
    padding-left:7px;
    padding-right:7px;
    text-align:right;
}
#table-inputs-options a, #table-inputs-options span {
    color:#7e7e7e;
}
#table-inputs-options td:nth-of-type(3) {
    padding-left:0;
}
#form-body-right {
    flex-basis: 220px;
    border-left:1px solid #ccc;
}
#form-body-right h2 {
    padding-bottom: 6px;
}
#form-body-right label {
    font-size: 15px;
}
#form-scores {
    border-bottom:1px solid #ccc;
    padding: 10px 20px;
}
#label-include-Amelogenin {
    margin: 5px auto;
    padding-left: 26px;
}
#form-filters {
    border-bottom:1px solid #ccc;
    padding: 10px 20px 15px 20px;
}
#form-filters h2 {
    margin-bottom: 10px;
}
#form-start {
    padding: 10px 20px 0;
    text-align:center;
}
#form-start h2 {
    text-align:left;
}
#search {
    font-size:13px;
    padding:5px;
    font-weight: bold;
    background-color: #e1e1e1;
    width: 80%;
    margin: 0 auto 15px auto;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
}
#search:hover {
    background-color: #d6e2eb;
    border-color: #98afcd;
    color: #107dac;
    cursor:pointer;
}
#search:active {
    background-color: #c1ccd4;
}
#form-buttons button{
    background-color:#efefef;
    border: 0;
    border-top: 1px solid #ccc;
    display:block;
    font-size:14px;
    padding:7px;
    width: 100%
}
#form-buttons button:hover {
    background-color:#e5f1fb;
    color:#107dac;
    cursor:pointer;
}
#form-buttons button:active {
    background-color: #d7ecfb;
}
#form-buttons .half {
    float:left;
    width: 50%
}
#form input[type=text] {
    border:1px solid #ccc;
    border-radius:2px;
    display:block;
    outline:0;
    padding: 3px 6px;
    width:94px;
}
#form input[type=text]:disabled {
    background-color:#efefef;
}
#form h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 1px 1px 1px 0;
}
/* Checkboxes
----------------------------------*/
.check-container {
    cursor:pointer;
    display:block;
    position:relative;
}
.check-container .checkmark:after {
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    border:solid #FFF;
    border-width:0 3px 3px 0;
    height: 8px;
    left:5px;
    top:1px;
    transform:rotate(45deg);
    width: 3px;
}
.check-container input {
    cursor:pointer;
    height:0;
    opacity:0;
    position:absolute;
    width:0;
}
.check-container input:checked ~ .checkmark {
    background-color:#5b9cd6;
    border:1px solid #4a81b0;
}
.check-container input:checked ~ .checkmark:after {
    display:block;
}
.checkmark {
    background-color:#fff;
    border:1px solid #ccc;
    height:15px;
    width:15px;
    left:0;
    position:absolute;
    top:-9px;
}
.checkmark:after {
    content:"";
    display:none;
    position:absolute;
}
#check-Amelogenin {
    top: 2px;
}
/* Radio buttons
----------------------------------*/
.radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 3px;
    cursor: pointer;
}
#form-body-right a {
    font-size: 14px;
    color:#000;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-container .checkmark {
    background-color: #fff;
    position: absolute;
    border:1px solid #b7b7b7;
    top: 1px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 2px;
}
.radio-container input:checked ~ .checkmark {
    background-color:#5b9cd6;
    border:1px solid #4a81b0;
}
.radio-container input:checked ~ .checkmark:after {
    display: block;
}
.radio-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}
.radio-container a:hover, .check-container a:hover {
    text-decoration: none;
    color: #107dac !important;
}

/* Selects
----------------------------------*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border:1px solid #ccc;
    border-radius: 2px;
    padding: 3px 6px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    margin-right: -15px;
}
.select-container {
    position:relative;
}
.select-container::after {
    content:"";
    width:0;
    height:0;
    position: absolute;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid black;
    opacity: 0.5;
    top: 12px;
    right: 10px;
}
.select-container:hover::after {
    border-top-color: #0261a0;
}
select::-ms-expand {
    display: none;
}
/* Results
----------------------------------*/
.ab {
    color:#107dac!important;
}
.ah {
    color:#000;
    margin:0 0 0 5px;
}
.as {
    color:#000;
    text-decoration:underline;
}
.as:hover,.ah:hover {
    cursor:help;
}
.b0 {
    border-left:4px solid #999 !important;
}
.b1 {
    border-left:4px solid #03A45E !important;
}
.b2 {
    border-left:4px solid #ee4046 !important;
}
.b3 {
    border-left:4px solid #f59c24 !important;
}
th p,
td p {
    display: block;
    width: 100%;
}
th p.sort-by {
    margin: 0;
    padding-right: 5px;
    position: relative;
}
p.sort-by:before,
p.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 0;
    top: 50%;
    position: absolute;
    width: 0;
}
p.sort-by:before {
    border-bottom-color: #777;
    margin-top: -8px;
}
p.sort-by:after {
    border-top-color: #777;
    margin-top: 1px;
}
p.sort-by.asc:before {
    border-bottom-color: transparent;
}
p.sort-by.asc:after {
    border-top-color: #107dac;
}
p.sort-by.des:before {
    border-bottom-color: #107dac;
}
p.sort-by.des:after {
    border-top-color: transparent;
}
#results {
    display: none;
    margin: 40px auto;
    opacity: 0;
}
#table-results {
    border-collapse:collapse;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.05), 0 4px 20px 0 rgba(0,0,0,0.05);
    text-align:left;
}
#table-results td {
    border:1px solid #ccc;
    font-size:11px;
    padding:7px;
    min-width:46px;
    max-width: 46px;
    word-break: break-all;
}
#table-results th {
    color:#373434;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    padding:7px;
}
#table-results td:nth-of-type(1) {
    min-width:92px;
    max-width:92px;
}
#table-results td:nth-of-type(2) {
    min-width:84px;
    max-width:84px;
}
#table-results td:nth-of-type(3) {
    min-width:22px;
    max-width:22px;
}
#table-results tr th {
    background-color: #e6e6e6;
    border:1px solid #aaa;
}
#table-results tr:nth-of-type(2) td {
    color:#107dac;
    font-weight:bold;
    background-color: #eee;
    border:1px solid #aaa;
    border-bottom-color: #999;
}
#table-results tr:nth-of-type(1n) {
    background-color:#eee;
}
#table-results tr:nth-of-type(2n+1) {
    background-color:#fbfbfb;
}
#table-results tr:hover td {
    background-color:#e5f1fb;
}
#table-results tr td {
    -moz-transition: background-color 200ms ease-in-out 0s;
    -ms-transition: background-color 200ms ease-in-out 0s;
    -o-transition: background-color 200ms ease-in-out 0s;
    -webkit-transition: background-color 200ms ease-in-out 0s;
    transition: background-color 200ms ease-in-out 0s;
}
#export{
    background-color: #e6e6e6;
    border:1px solid #aaa;
    font-size:12px;
    padding:3px;
    margin-bottom: 1px;
    width: 111px;
}
#export:hover {
    background-color:#e5f1fb;
    color:#107dac;
}
/* Alerts
----------------------------------*/
.alert {
    display: none;
    text-align: center;
    margin: 0 auto 20px;
    width:738px;
    padding: 15px;
    border-radius: 4px;
    opacity: 0;
}
.error {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    opacity: 1;
}
.error a {
    color: #5d2524;
}
#warning {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
}
#information {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    color: #31708f;
}
/* Scroller
----------------------------------*/
#scroller {
    display: none;
    position: fixed;
    margin:0;
    padding:0;
    bottom: 45px;
    right: 45px;
    width: 50px;
    height: 50px;
    z-index: 99;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #373737;
    opacity: 0.7;
    color: white;
    cursor: pointer;
}
#scroller:hover {
    opacity: 1;
}
/* JQuery UI
----------------------------------*/
body .ui-tooltip {
    background-color:#fbeaa0;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:12px;
    max-width: 400px;
}
.dialog {
    display: flex;
    justify-content: center;
}
#dialog-export{
    align-items: center;
}
#dialog-load {
    padding: 20px;
}
.dialog fieldset {
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
}
.dialog label {
    font-size: 16px;
}
.dialog input[type=text] {
    border:1px solid #ccc;
    border-radius:2px;
    outline:0;
    font-size: 14px;
    height: 22px;
    width:200px;
    margin: 5px 0;
    padding: 3px 6px;
}
.dialog input[type=text]:disabled {
    background-color:#efefef;
}
.dialog select {
    font-size: 14px;
    width: 75px;
    height: 30px;
    margin-bottom: 10px;
}
.dialog .select-container {
    margin: 0 auto;
    width: 75px;
    display: inline-block;
}
.dialog img {
    background-color: #fff;
    align-self: center;
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 10%;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.01);
    float: left;
}
.ui-dialog {
    border:1px solid #5f5f5f !important;

    box-shadow:0 4px 10px 0 rgba(0,0,0,0.1), 0 4px 20px 0 rgba(0,0,0,0.1);
}
.ui-front {
    padding: 0;
    border-radius: 0;
    background-color:#fafafa;
}
.ui-dialog-titlebar {
    color:#FFF;
    background-image: url("../images/assets/header.svg");
    background-color: #5175c4;
    border-width: 0;
    border-radius: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 16px;
}
.ui-widget-shadow {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.05), 0 4px 20px 0 rgba(0,0,0,0.05);
}
.ui-dialog-buttonpane  {
    background-color: #eee;
    margin-top: 0 !important;
}
.ui-widget-content .sample {
    color: #107dac;
    cursor: pointer;
}
.ui-button {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0;
    font-size:14px;
}
.ui-button:hover {
    background:#e5f1fb;
    border: 1px solid #ccc;
    color:#107dac;
    cursor:pointer;
}
.ui-button:active {
    background: #d7ecfb;
}
.ui-widget {
    font-size: 17px;
}
#import-help {
    font-size: 16px;
    height: 20px;
    padding: 10px 0;
}
#samples {
    font-size: 16px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    height: 185px;
    padding: 10px;
    margin-bottom: 20px;
}
#sample-label {
    font-size: 16px;
    margin-top: 25px;
    display: none
}
#input-file  {
    color: #107dac;
    font-size: 16px;
    width: 100%;
}
#parameters-help {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 10px;
}
.progressbar {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 7px;
}
.progressbar > span {
    height: 100%;
    background-color: rgb(30,144,255);
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.animate > span {
    display: block;
}
.animate > span:after {
    display: block;
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
            -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .3)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .3)),
            color-stop(.75, rgba(255, 255, 255, .3)),
            color-stop(.75, transparent), to(transparent)
            );
    background-image:
            -moz-linear-gradient(
                    -45deg,
                    rgba(255, 255, 255, .3) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .3) 50%,
                    rgba(255, 255, 255, .3) 75%,
                    transparent 75%,
                    transparent
            );
    z-index: 1;
    background-size: 50px 50px;
    overflow: hidden;
    animation: move 1s linear infinite;
}
@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
#samples-wrapper {
    float: left;
    width: 300px;
    padding-top: 10px;
    padding-right: 30px;
}
/* Page
----------------------------------*/
.page {
    background-color: #fff;
    width: 1000px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-left: 4px solid #5175c4;
    border-radius: 4px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.05), 0 4px 20px 0 rgba(0,0,0,0.05);
    word-break: break-word;
}
.page-header {
    text-align: center;
    padding: 10px 5px;
}
.page-header p {
    color: #5175c4;
    font-size:30px;
    font-weight:bold;
    margin: auto;
}
.page-body {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 30px 30px 120px;
    font-size:15px;
}
.page-body table {
    border-collapse:collapse;
    font-size: 12px;
}
.page-body td {
    border: 1px solid #bbb;
    padding: 5px;
}
.params td:nth-of-type(1){
    width: 170px;
}
.c1 {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px -90px;
}
.c2 {
    font-weight: bold;
    font-size: 18px;
    margin:  10px 0 10px -60px;
}
.c3 {
    font-weight: bold;
    font-size: 16px;
    margin:  10px 0 10px -30px;
}
.s1 {
    margin-left: -90px;
}
.s2 {
    margin-left: -60px;
}
.s3 {
    margin-left: -30px;
}
.l {
    font-size: 13px;
    font-style: italic;
}
.get {
    color:#338526;
    font-weight: bold;
}
.post {
    color:#851285;
    font-weight: bold;
}
.t {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
#back {
    margin-left: -90px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
.toc p {
    margin: 0 30px;
}
.toc.c1 {
    font-size: 16px;
}
.toc.c2 {
    font-size: 15px;
    font-weight: normal;
}
.toc.c3 {
    font-size: 14px;
    font-weight: normal;
}
.cind {
    width: 150px !important;
}
.cind td{
    text-align: center;
}